*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#result{
    height: 15%;
    padding: 4px;
    text-align: right;
    font-size: 30px;
    text-decoration-style: none;
}
